/* Cart.module.css */
.cartSidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Hide sidebar by default */
    width: 300px;
    height: 100%;
    background: #fff;
    transition: right 0.3s;
    z-index: 1000;
    /* other styles */
  }
  
  .cartSidebarVisible {
    position: fixed;
    top: 0;
    right: 0px; /* Hide sidebar by default */
    width: 300px;
    height: 100%;
    background: #fff;
    transition: right 0.3s;
    z-index: 1000;
    /* other styles */
  }
  