.container {
    height: calc(100vh - 100px);
    display: flex;
  }
  
  .left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right {
    flex: 1;
    padding: 20px;
  }
  
  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }
  
  .price {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
  }
  
  .sizes {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .size {
    padding: 5px 18px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .quantity {
    width: 50px;
    height: 30px;
  }
  
  .button {
    height: 30px;
    width: 200px;
    margin-top: 4%;
    background-color: #828080;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }
  
  .divider{
    width:5px;
    height:auto;
    display:inline-block;
  }
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
      text-align: center;
      flex-direction: column;
      margin-top: 20px;
    }
  
    .imgContainer {
      width: 70vw;
      height: 70vw;
    }
  
    .title {
      margin: 5px;
    }
  
    .sizes {
      width: 100%;
      padding: 0px 20px;
    }
  
    .quantity,
    .button {
      height: 50px;
      padding: 10px 20px;
    }
  }